@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: 8.5in 11in;
    margin: 0;
  }

  body.print-page {
    margin: 0;
    width: 8.5in;
  }
}

body.print-page {
  margin: 0;
  width: 8.5in;
}
